/*STYLE.CSS*/

* {
  padding: 0;
  margin: 0;
}

.logIn,
.signUp {
  margin: 15px;
  float: right;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.inputPair * {
  display: inline;
}

.createdBy {
  margin: 70px 40px 20px 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: inline;
  float: left;
}

.sitemap {
  margin: 20px 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: inline;
  float: left;
}

.sitemap li {
  list-style: none;
}

#carousel {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#submitButton {
  margin: 20px 0 0 60px;
}

#header img {
  max-width: 60px;
  margin: 0 0 0 5px;
  padding: 0;
  vertical-align: top;
}

#header h1 {
  display: inline-block;
  margin: 5.5px 20px;
  vertical-align: top;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#header a,
#header a:link,
#header a:visited,
#header a:hover,
#header a:active {
  color: #000000;
}

#navBar {
  background: #48a3a6;
  margin: 20px 80px;
  text-align: center;
  display: block;
}

.menuItems {
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menuItems li {
  padding: 0;
  margin: 0;
  float: left;
  list-style: none;
}

.menuItems li a {
  display: block;
  width: 350px;
  padding: 4px 10px;
  margin: 0 1px 0 0;
  background-color: #48a3a6;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
}

.menuItems li a:hover {
  background-color: #6aadab;
}

.menuItems div {
  position: absolute;
  background-color: #95dec6;
  border: 1px solid #1bc67c;
  visibility: hidden;
}

.menuItems div a {
  display: block;
  width: 340px;
  padding: 5px 10px;
  background-color: #95dec6;
  color: #1bc67c;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}

.menuItems div a:hover {
  background-color: #6aadab;
  color: #ffffff;
}

.mainContent,
.mainContent * {
  padding: 10px 20px 0;
  margin: 5px 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  clear: both;
}

.mainContent h2 {
}

.mainContent p {
  font-size: 16px;
}

footer {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 100px 0 40px 0;
  padding: 0 30px;
}
